* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: #004aad;
}

nav {
    padding: 10px;
    gap: 20px;
    justify-content: center;
    background-color: #004aad;
    display: flex;
}

nav a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

.hero {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    color: #004aad;
    margin-bottom: 10px;
}

.sections {
    padding: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax()250px, 1fr);
}

.card {
    text-align: center;
    padding: 20px;
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.login-container {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-grow: 1;
}

.login-box {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    padding: 30px;
}

.login-box h2 {
    color: #004aad;
    margin-bottom: 20px;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    color: white;
    transition: 0.3s;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #004aad;
}

button:hover {
    background-color: #003580;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 30px;
    background-color: #003580;
}

.message {
    margin-top: 10px;
    font-weight: bold;
    color: #ff3333;
}