* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: #004aad;
}

nav {
    padding: 10px;
    gap: 20px;
    justify-content: center;
    background-color: #004aad;
    display: flex;
}

nav a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

.hero {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    color: #004aad;
    margin-bottom: 10px;
}

.sections {
    padding: 30px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax()250px, 1fr);
}

.card {
    text-align: center;
    padding: 20px;
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.comment-section {
    text-align: center;
    background-color: #f9fbff;
    padding: 40px 20px;
}

.comment-section h2 {
    color: #004aad;
    margin-bottom: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
}

form button {
    color: color;
    background-color: #004aad;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

form button:hover {
    background-color: #003580;
}

.comment-list {
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
}

.comment {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.comment strong {
    color: #004aad;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 30px;
    background-color: #003580;
}